body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #090909;
}


h1 h2 h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #1e1818;
}

nav{
    font-family:'Gemunu Libre', sem serifa;
    color: #1e1818;
}

.botao {
    color: aqua;
    text-decoration: none;
    padding: 10px 30px;
    background-color: #6436ba;
    font-size: 32px;
    font-family: sans-serif;
    font-size: .9em;
    border-radius: 10px;
}

nav {
    display: flex;
    align-items: center;
    background-color: #ad4fe0;
}

nav > a {
    text-decoration: none;
    color: rgb(100, 20, 20);
    font-weight: 30;
    font-size: 32px;
}
    
nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    width: 100%;
}

nav ul li {
    text-align: center;
    width: 100%;
}

nav ul li a  {
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    text-decoration: none;
    color: #0e0e0e;
}


header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("paz.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #db0e0e;
    text-align: center;
    padding: 270px;
    font-family: 'Courier New', Courier, monospace;
}

#sobre {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px 20px 20px;
    background-color: #df2695;
    color: #ffffff;
}
#sobre h2{
color: #000;
}

#sobre p{
    margin-bottom: 2.5em;
    max-width: 1000px;
}
#sobre .botao {
    color: aquamarine
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: initial;
    justify-content: initial;
    flex-direction: initial;
}

h1{
    color: #333;
    margin-bottom: 10px;
}
iframe{
    width: 80%;
    height: 250px;
}

#video {
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
padding: 20px;
}

form {
    display: flex;
    flex-wrap: wrap;
}

form>input{
    flex:1 1 10ch;
    margin: .5rem;

} 

form > input[type="email"] {
    flex: 3 1 30ch;
    margin: .5rem;
}
body {
    background-image: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

input {
    border-radius: 0cm;
    background: hsl(0, 0%, 93%);
    border-radius: 10px;
    padding: .75rem 1rem;
}

input[type="submit"] {
    background: hotpink;
    color:#ffffff;
}

#contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}
    #contato h2{
    color: #000;
    }
    
    #contato p{
        margin-bottom: 2.5em;
        max-width: 1000px;
}

    #contato .botao {
        color: aquamarine
 }

footer { 
    text-align: center;
    padding: 10px;
    background-color: #191970;
    color: #ffffff
}
            

    
